body {
    background: #ffe url(fade2.png) top repeat-x;
    background-color: #FFE2D1;
    font-family: 'Source Code Pro', monospace;
    color: #df4242;
}

hr {
    border-color: #ff8d8d;
    border-color: #ff8d8d;
    height: 0.01px;
}