@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  background: rgb(238,248,249);
  background: linear-gradient(360deg, rgba(238,248,249,1) 72%, rgba(169,238,255,1) 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #007acc;
}
body {
  overflow-x: hidden;
}
.top img {
    display: table;
  margin: 0 auto;
}

.main {
  position: relative;
  top: 7rem;
  margin: auto;
  width: 50rem;
  padding: 10px;
}
h1.board-title {
  position: inherit;
  top: -7rem;
  font-size: 4rem;
  text-align: center;
}
div.board-start-thread {
  color: blue;
  font-size: 20px;
  position: relative;
  top: 0.5rem;
  text-align: center;
}
div.main-board {
  width: 100%;
  height: 20%;
}
div.main-board hr {
  width: 100%;
}


div.thread {

}
div.thread button.hideshow {
  float: left;
}
div.thread-info {
  width: inherit;
  text-indent: 0.6rem;
}
div.thread-op-info {
}
div.thread-info a {
  text-decoration: underline;
  color: blue;
}
div.thread-op-info a {
  text-decoration: underline;
  color:blue;
}
div.thread-file {
  float:left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  display: table-cell;
}
div.thread-contents {
  /*display: table-cell;*/
  vertical-align: top;
  padding-top: 0.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

div.thread-reply {
  float: left;
  width:fit-content;
  display: table-cell;
  vertical-align: bottom;
}
div.thread-reply-contents {
  display:block;
  background: rgb(255, 178, 178);
  
}



.tablething {
  position: relative;
  width: 50rem;
  border:  1px solid blue;
}
.tablething div.title {
  position: relative;
  padding: 0.3rem;
  background:  #7bd8ee;
}
.tablething div.error-title {
  text-align: center;
  position: relative;
  padding: 0.3rem;
  background:  #7bd8ee;
}
.tablething div.contents {
  
  padding: 1rem;
  background: white;
  background-image: url("LOOK_AT_HE_GO.gif");
  background-size: cover;
  background-position:  bottom;
}
.tablething div.error-contents {
  text-align: center;
  padding: 1rem;
  background: white;
}

.other {
  text-align: center;
}
.credit {
  filter: opacity(25%);
  text-align: center;
}
