@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');

@keyframes image_blur {
  0% { -webkit-filter: blur(10px);}
  100% { -webkit-filter: blur(0px);}
}

body {
  background-color: rgb(37, 37, 37);
  font-family: 'Hind Siliguri', sans-serif;
  color: #f1f1f1;
}

a {
  color: aquamarine;
}

a:link {
  color:cadetblue;
}
a:visited {
  color: aquamarine;
}

div.tablething div.contents a {
  margin: 0.4rem;
}

body {
  overflow-x: hidden;
}
.top img {
  z-index: 1;
  display: table;
  margin: 0 auto;
}
.top a {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#counter {
  background:none;
  text-align: center;
}

div.contents table {
  text-align: left;
  width: 100%;
}
div.contents table tr {
  display: block;
  height: 1rem;
}

.ad {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.spoiler {
  color: black;
  background-color: black;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  border-radius: 5px;
}
span.spoiler:hover {
  color: #e1e0e0;
  background: none;
}

img.spoiler {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  overflow: hidden;
}
img.spoiler:hover {
  animation: image_blur 0.1s linear;
  -webkit-filter: blur(0px);
  filter:blur(0px);
  /*-webkit-filter: blur(0px);
  filter: blur(0px);*/
}

div.board-options {
  padding-bottom: 0.6rem;
}

.main {
  position: relative;
  top: 7rem;
  margin: auto;
  width: 50rem;
  padding: 10px;
}
h1.board-title {
  position: inherit;
  top: -7rem;
  font-size: 4rem;
  text-align: center;
}
div.board-start-thread {
  color: blue;
  font-size: 20px;
  position: relative;
  top: 0.5rem;
  text-align: center;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.board-start-thread:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.main-board {
  width: 100%;
  height: 20%;
}
div.main-board hr {
  clear: both;
}
hr {
  color: aquamarine;
  width: 85%;
}

div.creation-form form table {
  margin: auto;
  color: #f1f1f1;
  text-align: left;
}
div.creation-form form input[type=submit] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  /*min-width: 10rem;
  min-height: 2rem;*/
}

div.creation-form form table tr th.creation-form-label {
  border: 1px solid black;
  padding: .2rem;
  background-color: rgb(74, 74, 74);
  text-align: left;
}
div.creation-form form table tr th img {
  object-fit: contain;
  border: 1px solid black;
  background-color: white;
}

div.thread {
  background-color: #303030;
  border-radius: 5px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  border-left: 0.15rem solid aquamarine;
  border-right: 0.15rem solid aquamarine;
  box-shadow: 5px 5px 10px rgb(20,20,20);
  animation: 0.5s ease-out 0s 1 slideUpBoard;
  overflow-x: hidden;
}

div.thread:hover {
  background-color: #393939;
}

div.thread hr {
  color: rgba(0,0,0,0);
}

div.thread button.hideshow {
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.2rem;
}
div.thread button.hideshow:hover {
  border-radius: 4px;
  background-color: rgb(192, 255, 234);
}

span.thread-title {
  padding-left: 0.25rem;
  border-left: teal 0.1rem solid;
  border-radius: 4px;
}

div.thread-info {
  width: inherit;
  text-indent: 0.6rem;
  padding-top: 0.3rem;
  padding-right: 0.6rem;
}
div.thread-info a {
  text-decoration: underline;
}
div.thread-op-info {
  padding: 0.1rem;
  padding-left: 0.25rem;
  border-radius: 4px;
}
span.thread-op-tag {
  filter: brightness(40%);
  -webkit-filter: brightness(40%);
}
div.thread-op-info a {
  cursor: pointer;
  text-decoration: underline;
  color:rgb(43, 223, 223);
}
div.thread-file {
  float: left;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  display: table-cell;
}
div.thread-file img {
  border-radius: 10px;
}
div.thread-contents {
  /*display: table-cell;*/
  vertical-align: top;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  /*max-width: 100%;*/
}
div.thread-text p {
  overflow-wrap: break-word;
  /*max-width: 100%;*/
}

div.thread-reply {
  background: #434343;
  float: left;
  width:auto;
  height: fit-content;
  display: table-cell;
  vertical-align: bottom;
  margin-bottom: 0.7rem;
  margin-right: 1rem;
  border-radius: 10px;
  border-left: 0.15rem solid aqua;
  margin-left: 1rem;
  animation: 0.5s ease-out 0s 1 slideinLeft;
}
div.thread-reply:hover {
  background: #4d4d4d;
}
div.thread-reply-contents {
  display:block;
}

span.hideshow {
  margin-left: 0.5rem;
}

span.hideshow a {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background: aquamarine;
  padding: 0.2rem;
  border-radius: 5px;
  color: rgb(18, 18, 18);
  text-decoration: none;
}
span.hideshow a:hover {
  background: rgb(192, 255, 234);
  padding: 0.2rem;
  border-radius: 10px;
  color: rgb(18, 18, 18);
}

.tablething {
  position: relative;
  width: 50rem;
  background-color: #393939;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(20,20,20);
}
.tablething div.title {
  background-color: #303030;
  position: relative;
  padding: 0.3rem;
  border-radius: 0px;
}
.tablething div.error-title {
  text-align: center;
  position: relative;
  padding: 0.3rem;
  background:  #7bd8ee;
}
.tablething div.contents {
  padding: 1rem;
 /* background-image: url("LOOK_AT_HE_GO.gif");
  background-size: cover;
  background-position:  bottom;*/
}
.tablething div.error-contents {
  text-align: center;
  padding: 1rem;
  background: white;
}

.other {
  text-align: center;
}
.credit {
  filter: opacity(25%);
  text-align: center;
}

.loader {
  border: 10px solid #2f2f2f; /* Light grey */
  border-top: 10px solid #9f9f9f; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.boardsHold {
  animation: 1s ease-out 0s 1 slideUp;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    filter: opacity(0%);
  }
  50% {
    filter: opacity(0%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUpBoard {
  0% {
    transform: translateY(10%);
    filter: opacity(0%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideinLeft {
  0% {
    transform: translateX(-100%);
    filter: opacity(0%);
  }
  100% {
    transform: translateX(0);
    filter: opacity(100%);
  }
}

@keyframes hover {
  0% {
    filter: brightness(0%)
  }
  100% {
    filter: brightness(100%);
  }
}